<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style type="text/css">
  body {
    background: #000e14;
  }
  .x-body {
    position: relative;
  }
  .bg-canvas {
    width: 100%;
    height: 600px;
 }
  #main {
    position: absolute;
    width: 100%;
  };

</style>
<body>
  <div class="x-body">
    <div id="main" style="width: 100%;height:600px;"></div>
  </div>
  <script src="http://cdn.bootcss.com/echarts/3.3.2/echarts.min.js" charset="utf-8"></script>
  <script src="http://cdn.bootcss.com/echarts/3.3.2/extension/bmap.min.js" type="text/javascript"></script>
  <script src="http://echarts.baidu.com/asset/map/js/china.js"></script>
  <script src="./json/standard.js"></script>
  <script src="./json/color.js"></script>

  <script src="bg/index.js"></script>
  <script>
    var nationDistributedInfo = standard.nationDistributedInfo;
    var myChart = echarts.init(document.getElementById('main'));
    myChart.setOption({
      series: [{
        type: 'map',
        map: 'china'
      }]
    });

    var nationDistributedInfoSettingArr = [];

    for (var i = 0; i < nationDistributedInfo.length; i++) {
      nationDistributedInfoSettingArr.push({
        name: nationDistributedInfo[i].nationName,
        type: 'effectScatter',
        coordinateSystem: 'geo',
        data: nationDistributedInfo[i].data,
        encode: {
          value: 2
        },
        symbolSize: function (val) {
          return val[2] / 10;
        },
        showEffectOn: 'render',
        rippleEffect: {
          brushType: 'stroke'
        },
        hoverAnimation: true,
        label: {
          normal: {
            formatter: '{b}',
            position: 'right',
            show: false
          }
        },
        itemStyle: {
          normal: {
            color: colorMap[nationDistributedInfo[i].nationName],
            shadowBlur: 10,
            shadowColor: '#333'
          }
        },
        zlevel: 1
      });
    }


    var legend =  {
        orient: 'horizontal', // 'vertical'
        x: 'right', // 'center' | 'left' | {number},
        y: 'top', // 'center' | 'bottom' | {number}
        backgroundColor: '#eee',
        // borderColor: 'rgba(178,34,34,0.8)',
        borderWidth: 4,
        padding: 10,    // [5, 10, 15, 20]
        itemGap: 20,
        // textStyle: { color: 'red'},
        data: getAllNations()
    };

    var option = {
      // backgroundColor: "rgb(64, 74, 89, 0.7)",
      title: {
        text: '中华56民族大观',
        left: 'center',
        textStyle: {
          color: '#fff'
        }
      },
      legend: legend,
      tooltip: {
        trigger: 'item',
        formatter: function(item) {
          return item.seriesName + '(' + item.name + ')' + item.value[2] + '人';
        }
      },
      geo: {
        map: 'china',
        label: {
          emphasis: {
            show: true
          }
        },
        roam: true,
        itemStyle: {
          normal: {
            areaColor: '#323c48',
            borderColor: '#111'
          },
          emphasis: {
            areaColor: '#FFD715'
          }
        }
      },
      series: nationDistributedInfoSettingArr
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

    myChart.on('click', function (params) {//点击事件
      console.log(params);
      if (params.componentType === 'series') {
         // var provinceName =params.name;
         // $('#box').css('display','block');
         // $("#box-title").html(provinceName);
        }
    });
  </script>
</body>

</html>